
body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
}

.altura-a-b{
    padding: 100px 0;
}

.logotipo{
    width: 150px;
    padding: 10px 0;
}

.sps--abv{
    background-color: transparent;
    color: #000;
}

.sps--blw{
    background-color: #333 ;
    color: #fff;
}

nav.sps--abv .logotipo{
    width: 180px;
}

.iconos-redes-header{
    width: 20px;
    margin:10px 5px;
}

.banner-video{
    background-image: url("../images/home/video-bg.jpg");
    padding: 200px 0;
    position: relative;
    text-align: center;
}

.carousel-caption{
    position: absolute;
    top: 40%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding: 20px 0;
    color: #000;
    text-align: left;
}

.btn-light {
 color: #000;
 background-color: transparent;
 border-color: #f8f9fa;
 border: 2px solid #000;
 border-radius: 20px;
 padding: 5px 25px;
}

.banner-video img{
    width: 80px;
    height: 80px;
    position: relative;
}


/*SOMOS*/ 

.cabecera-somos{
    padding: 180px 0 100px 0;
    background-image: url("../images/somos/slider-interior.jpg");
    background-position: center center;
    background-size: cover;
}

.texto-blanco{
    color: #fff;
}

.banner-somos{
    background-image: url("../images/somos/somos-equipo.jpg");
    background-position: center center;
    background-size: cover;
    padding: 200px 0;
    filter: grayscale(50%);
    text-align: center;
}

footer{
    background-color: #000;
    padding: 100px 0;
    text-align: center;
}

footer .logotipo-footer{
    width: 200px;
    margin-bottom: 20px;
    
}

footer p{
    color: #fff;
    font-size: 12px;
}